{% extends '::base.html.twig' %}

{% block title %}All Collections{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='compass,?yui_css' 'css/boards.scss' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block content %}
    {% if data.count %}
        <ul class="boardsList">
        {% for row in data %}
          <li data-class="Board" data-id="{{ row.id }}">{% include 'PWBoardBundle:Default:partials/thumb.html.twig' with {'data': row} %}</li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>No collections exist.</h2>
    {% endif %}

	<p><a href="{{ path('pw_board_default_add') }}">Create a new collection</a></p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?yui_js' 'js/boards.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
