{% extends '::admin/base.html.twig' %}

{% block title %}Admin : Boards{% endblock %}

{% block content %}
    <form action="" method="post">

        <header class="adminNav">
            <ul>
                <li><h2><a href="{{ path('admin_dashboard_index') }}">Admin</a> : </h2></li>
                <li><h3>Boards</h3></li>
            </ul>
        </header>

        {{ knp_menu_render('PWBoardBundle:Admin\\Builder:statusMenu') }}

        <div class="massactions">
            <label for="massAction">Actions</label>
            <select id="massAction" name="massaction" disabled="disabled">
                <option></option>
                <option value="delete">Delete Selected</option>
            </select>
            <input id="massSubmit" type="submit" value="Submit" disabled="disabled">
        </div>

        <table width="100%" class="datagrid">
            <thead>
                <tr>
                    <th width="1"><input id="selectAll" type="checkbox" disabled="disabled"></th>
                    <th>{{ boards.sortable('Created Date', 'created') | raw }}</th>
                    <th>{{ boards.sortable('Created By', 'createdBy') | raw }}</th>
                    <th>{{ boards.sortable('Category', 'category') | raw }}</th>
                    <th>{{ boards.sortable('Name', 'name') | raw }}</th>
                    <th style="text-align:center">Active</th>
                    <th style="text-align:center">Public</th>
                    <th style="text-align:center">System</th>
                    <th width="1">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% if boards.count %}
                    {% for board in boards %}
                        <tr {% if loop.index is odd %}class="odd"{% endif %}>
                            <td><input type="checkbox" name="boards[]" value="{{ board.id }}"></td>
                            <td>{{ board.created | date('Y-m-d') }}</td>
                            <td>
                                {% if board.createdBy is not empty %}
                                    <a href="{{ path('user_profile_view', {name: board.createdBy.name}) }}" target="_blank">
                                        {{ board.createdBy.name }}</a>
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>{{ board.category.name | default('*unnamed*') }}
                            <td>
                                <a href="{{ path('pw_board_default_view', {'id': board.id, 'slug': board.slug}) }}">
                                    {{ board.name }}</a>
                            </td>
                            <td style="text-align:center">
                                {% if board.isActive %}&#10003;{% endif %}
                            </td>
                            <td style="text-align:center">
                                {% if board.isPublic %}&#10003;{% endif %}
                            </td>
                            <td style="text-align:center">
                                {% if board.isSystem %}&#10003;{% endif %}
                            </td>
                            <td class="actions">
                                <ul>
                                    {% if board.deleted %}
                                        <li><a href="{{ path('admin_board_undelete', {'id': board.id}) }}">UnDelete</a></li>
                                    {% else %}
                                        <li><a class="delete" href="{{ path('admin_board_delete', {'id': board.id}) }}">Delete</a></li>
                                    {% endif %}
                                    <li><a data-method="post" data-confirm="Are You sure to undelete *ALL* posts from this board?" href="{{ path('admin_board_undeleteposts', {'id': board.id}) }}">Undelete Posts</a></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <td colspan="100" class="no-results">No <strong>{{ status }}</strong> Boards to display.</td>
                {% endif %}
            </tbody>
        </table>

        {{ boards.render() | raw }}

    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
$(function() {
    $(".actions .delete").click(function(e){
        return confirm("Are you sure you want to delete this Board?\n" +
            "This action will also delete the following:\n" +
            "    - Board's Followers (association only)\n" +
            "    - Board's Posts"
        );
    });
});
</script>
{% endblock %}
