{% block content %}
    <a data-class="{{ user.userType }}" data-id="{{ user.id }}" href="{{path('pw_user_brand_view', {'slug': user.username}) }}"><img src="{{ user | user_icon('medium') }}" alt="{{ user.name }}"></a>
{% endblock %}
