{% block icon %}
<a class="activityPicture" href="{{ activity.user | profile_link }}">
	<img src="{{ activity.user.icon | version('medium') }}" alt="{{ activity.user.name }}">
</a>
{% endblock %}
{% block name %}<a href="{{ activity.user | profile_link }}">{{ activity.user.name }}</a>{% endblock %}
 {% block message %}triggered a {{ activity.type }} event{% endblock %}
 <small>{{ activity.created | humane_date | raw }}</small>.
