{% extends '::base.html.twig' %}

{% block title %}Add{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='compass,?yui_css' 'css/add.scss' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block content %}

    <div class="addBookmarletHelp">
        <h2>How do I add sparks?</h2>
        <p>
            Drag this {% include "PWAssetBundle:Default:bookmark.html.twig" %} button to your <span>bookmarks bar</span> and start sparking!
        </p>
        <div class="addBookmarletHelpOr">or...</div>
        <div class="addBookmarletHelpOr last">or...</div>
    </div>

    <div class="addProcess addProcessMain">
        <div class="addProcessBlock addURL">
            <h2>Enter a URL</h2>
            <p>Did you find something cool while browsing the web? Enter the URL and spark these images or video!</p>
            <img src="{{ asset('images/add/http.png') }}">
            {% render "PWAssetBundle:Default:site" %}
        </div>
        <div class="addProcessBlock addImage">
            <h2>Upload an image</h2>
            <p>Share your own sparks with the community! Click below to upload images.</p>
            <img src="{{ asset('images/add/image.png') }}">
            {% render "PWAssetBundle:Default:upload" %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
$(function() {
    // Change the input['file'] for a button
    if (navigator.appName != 'Microsoft Internet Explorer') {
      $('#form_file').css({'position' : 'absolute', 'top' : '0', 'left' : '0', 'opacity' : '0'});
      $('#form_file').parent().append('<a id="select_image" class="button" href="#">Choose files</a>');
      $('#form_file').parent().append('<span id="file_name"></span>');
      $('#form_file').bind('change', function() {
          var str = "";
          str = $(this).val();
          $("#file_name").text(str);
      }).change();
      $('#select_image').click(function(e) {
          e.preventDefault();
          $('#form_file').trigger('click');
      });
    }
    
    $(".button").click(function() {
        $(this).parent().submit();
    });
    
    // Disable the Spark It! button
    $('.addBookmarletHelp .button').click(function(e){
      e.preventDefault();
    });

    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        APP.login.start();
    {% endif %}
});
</script>
{% endblock %}